* {
	scroll-behavior: smooth;
	word-break: normal;
}

body {
	font-family: 'SuisseIntl', sans-serif;
	background-color: var(--color-tutara-50);
	color: var(--color-tutara-900);
	max-width: 100%;
	height: 100vh;
	/* padding-left: 16px;
	padding-right: 16px; */
	/* margin-left: auto;
	margin-right: auto; */
}

#app {
	height: 100%;
}

/* @media (min-width: 1440px) {
	body {
		max-width: 1440px;
		padding-right: 54px;
		padding-left: 54px;
	}
}

@media (min-width: 1920px) {
	body {
		max-width: 1920px;
	}
} */

.container {
	max-width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1440px) {
	.container {
		max-width: 1440px;
		padding-right: 54px;
		padding-left: 54px;
	}
}

@media (min-width: 1920px) {
	.container {
		max-width: 1920px;
	}
}

/* Container Components */
.container-row {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	column-gap: 0.5rem;
}

@media (min-width: 1024px) {
	.container-row {
		grid-template-columns: repeat(16, minmax(0, 1fr));
		column-gap: 0.75rem;
	}
}
