body{
  font-family: 'SuisseIntl', sans-serif;
  background-color: var(--color-tutara-50);
  color: var(--color-tutara-900);
  max-width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 1440px) {
	body {
		max-width: 1440px;
		padding-right: 54px;
		padding-left: 54px;
	}
}

@media (min-width: 1920px) {
	body {
		max-width: 1920px;
	}
}
